::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #FADCBB;
    z-index: 12;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FADCBB;
}

::-webkit-scrollbar-corner {
    background: #202020;
}

a {
    color: darkorange;
    text-decoration: none !important;
}

li {
    user-select: all !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #FADCBB transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}